@model SDNUOJ.Entity.ProblemEntity

@{
    ViewBag.__Title = "题目 - " + Model.ProblemID;
}

<div class="dtable dtable-noborder problem-info">
    <div class="dhead">
        <div class="row text-center">
            <h2>@Model.ProblemID.@Model.Title</h2>
        </div>
    </div>
    <div class="dbody">
        <div class="row text-center">
            <div class="well" style="margin-top:10px">
                <span class="text-info">
                    时长限制: @Model.TimeLimit MS &nbsp;&nbsp;
                    内存限制: @Model.MemoryLimit KB<br />
                    累计提交 (次): @Html.ActionLink(Model.SubmitCount.ToString(), "List", "Status", new { pid = Model.ProblemID }, null) &nbsp;&nbsp;
                    通过的提交 (次): @Html.ActionLink(Model.SolvedCount.ToString(), "List", "Status", new { pid = Model.ProblemID, type = (Byte)SDNUOJ.Entity.ResultType.Accepted }, null)
                </span>
            </div>
        </div>
        <div class="row">
            <h3>描述</h3>
        </div>
        <div class="row">
            <div class="well">@Html.Raw(Model.Description)</div>
        </div>
        <div class="row">
            <h3>输入</h3>
        </div>
        <div class="row">
            <div class="well">@Html.Raw(Model.Input)</div>
        </div>
        <div class="row">
            <h3>输出</h3>
        </div>
        <div class="row">
            <div class="well">@Html.Raw(Model.Output)</div>
        </div>
        <div class="row">
            <h3>示例输入</h3>
        </div>
        <div class="row">
            <div class="well"><pre class="code">@Html.Raw(Model.SampleInput)@*!TIP:Problem.SampleInput获取时已Encode*@</pre></div>
        </div>
        <div class="row">
            <h3>示例输出</h3>
        </div>
        <div class="row">
            <div class="well"><pre class="code">@Html.Raw(Model.SampleOutput)@*!TIP:Problem.SampleOutput获取时已Encode*@</pre></div>
        </div>
        @if (!String.IsNullOrEmpty(Model.Hint))
        {
            <div class="row">
                <h3>Hint</h3>
            </div>
            <div class="row">
                <div class="well">@Html.Raw(Model.Hint)</div>
            </div>
        }
        <div class="row">
            <h3>源码</h3>
        </div>
        <div class="row">
            <div class="well">@(String.IsNullOrEmpty(Model.Source) ? Html.Raw("未知") : Html.ActionLink(Model.Source, "Search", "Problem", new { type = "source", content = Model.Source }, null))</div>
        </div>
    </div>
    <div class="dfoot">
        <div class="row text-center">
            <div class="btn-group">
                @Html.ActionLink("提交代码", "Submit", "Problem", new { id = Model.ProblemID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("查看统计", "Statistic", "Problem", new { id = Model.ProblemID }, new { @class = "btn btn-default" })
                @if (SDNUOJ.Configuration.ConfigurationManager.AllowMainForum) { @Html.ActionLink("本题讨论", "Forum", "Problem", new { id = Model.ProblemID }, new { @class = "btn btn-default" }) }
            </div>
        </div>
    </div>
</div>