@model Tuple<SDNUOJ.Entity.UserEntity, List<Int32>, List<Int32>>

@{
    ViewBag.__Title = "用户信息";
    ViewBag.__Type = "userinfo";
}

<div class="dtable dtable-noborder user-info">
    <div class="dhead">
        <div class="row text-center">
            <h2>@Model.Item1.UserName</h2>
        </div>
    </div>
    <div class="dbody">
        <div class="row">
            <h3>信息</h3>
        </div>
        <div class="row">
            <div class="well">
            <span>
                @Html.Raw(Model.Item1.NickName)@*!TIP:User.NickName添加时已Encode*@
                @Html.Raw(SDNUOJ.Configuration.ConfigurationManager.AllowUserMail ? "(<a href=\"" + Url.Action("Send", "Mail", new { name = Model.Item1.UserName }) + "\">发送私信@" + Model.Item1.UserName + "</a>)" : "")
            </span><br />
            @if (Model.Item1.Permission > SDNUOJ.Entity.PermissionType.None) { <span>Group: @Model.Item1.Permission.ToString()</span><br /> }
            <span>排名: @Model.Item1.Rank,</span>
            <span>已解决: @Html.ActionLink(Model.Item1.SolvedCount.ToString(), "List", "Status", new { name = Model.Item1.UserName, type = (Byte)SDNUOJ.Entity.ResultType.Accepted }, null),</span>
            <span>提交数: @Html.ActionLink(Model.Item1.SubmitCount.ToString(), "List", "Status", new { name = Model.Item1.UserName }, null),</span>
            <span>通过率: @Model.Item1.Ratio.ToString("F2")%</span><br /><br />
            <span>
                <em>
                    来自:@(!String.IsNullOrEmpty(Model.Item1.School) ? Model.Item1.School : "未知") ,
                    注册于 @Model.Item1.CreateDate.ToString("yyyy-MM-dd")
                </em>
            </span>
        </div>
    </div>
    <div class="row">
        <h3>已通过题目 <span id="downloadcode_@(Model.Item1.UserName.ToLower() + (SDNUOJ.Configuration.ConfigurationManager.AllowDownloadSource ? "" : "_disabled"))"></span></h3>
    </div>
    <div class="row">
        <div class="well">
            @for (Int32 i = 0; i < Model.Item2.Count; i++)
            {
                @Html.ActionLink(Model.Item2[i].ToString(), "List", "Status", new { name = Model.Item1.UserName, pid = Model.Item2[i], type = (Byte)SDNUOJ.Entity.ResultType.Accepted }, null);
                @:
            }
            @if (Model.Item2.Count == 0)
            {
                @: 暂无已通过题目
            }
        </div>
    </div>
    <div class="row">
        <h3>正在攻克中的题目</h3>
    </div>
    <div class="row">
        <div class="well">
            @for (Int32 i = 0; i < Model.Item3.Count; i++)
            {
                @Html.ActionLink(Model.Item3[i].ToString(), "List", "Status", new { name = Model.Item1.UserName, pid = Model.Item3[i] }, null);
                @:
            }
            @if (Model.Item3.Count == 0)
            {
                @: 暂无正在攻克中的题目
            }
        </div>
    </div>
</div>
</div>